ion-button{
    background-color: limegreen;
    align-content: center;
}

ion-button:hover{  
    background-color: white;
}
.sabermais{
    background-color: rgb(255, 60, 0);
    color: white;
}

h2{
    text-align: center;
}
